/*
    날짜: 2020.04.20
    작성자: 이주연
    CGV 포토티켓
*/
/* [S]포토티켓 공통 */
.photo_ticket .clearfix::after { content: ''; clear: both; display: block;}
.photo_ticket .primary { color: #ff2f35;}
.photo_ticket.container article::before {height: 7px;}
.photo_ticket .btn_grey {position: relative; width: 115px; height: 34px; margin: 0 auto;display: block;border-radius: 18px;color: #999999;background-color: #ffffff;font-size: 14px;text-align: center;line-height: 32px;border: 1px solid #eeeeee;padding: 0;}
.sprite.sprite-pt{content:''; background-image:url('../images/phototicket/common/phototicket@2x.png'); background-repeat: no-repeat; display: block; background-size: 200px;}
.photo_ticket .btn-outline-red {display: inline-block; width: 135px; height: 44px; border-radius:22px; line-height: 42px; font-size: 16px; border: 1px solid var(--watermelon); color: var(--watermelon); font-weight: bold; letter-spacing: -2px; background-color: #ffffff;}
.photo_ticket .btn-red { display: inline-block; width: 135px; height: 44px; border-radius:22px; line-height: 44px; font-size: 16px; background-color: var(--watermelon); border: 1px solid var(--watermelon); color: #ffffff; font-weight: bold; letter-spacing: -.5px;}
.photo_ticket .btn-red.disabled { background-color: rgba(251,61,87,.5); border: 0;}
.photo_ticket .btn-red.btn-lg { width: 165px; height: 50px; line-height: 48px;border-radius: 25px;font-size: 18px}
.photo_ticket .btn-grey { display: inline-block; width: 135px; height: 44px; line-height: 42px; font-size: 16px; background-color: #bebebe; border-radius: 22px;  color: #ffffff; font-weight: bold; letter-spacing: -2px;border: 1px solid #bebebe}
.photo_ticket .btn-badge-red { display: inline-block; text-align: center; width: 125px; height: 25px; border-radius:12px; line-height: 25px; font-size: 12px; background-color: #ffffff; border: 1px solid var(--watermelon); color: var(--watermelon); font-weight: bold; letter-spacing: -2px;}
.photo_ticket .btn-badge-grey { display: inline-block; text-align: center; width: 125px; height: 25px; border-radius:12px; font-weight: 500; line-height: 25px; font-size: 13px; background-color: #ffffff; border: 1px solid rgb(208,208,208); color: #222222; letter-spacing: -2px;}
.photo_ticket .btn-badge-grey.active { display: inline-block; width: 125px; height: 25px; border-radius:12px; line-height: 23px; font-size: 12px; background-color: var(--watermelon); border: 1px solid var(--watermelon); color: #ffffff; font-weight: bold; letter-spacing: -2px;}
.photo_ticket .btn-badge-grey .dday {position: relative; padding-right: 10px; letter-spacing: -1.4px;}
.photo_ticket .btn-badge-grey .dday::after {content:''; position: absolute; height: 12px; border-right: 1px solid rgb(165,165,165); top: 2px; right: 4px;}
.content_wrap.photo_ticket .cancel_area { padding-top: 2px !important; }
.content_wrap.photo_ticket .cancel_area .btn-cancel { display: inline-block; padding-bottom: 2px; font-size: 13px; color: rgb(118,118,118);font-weight: 500; letter-spacing: -2px; border-bottom: 1px solid rgb(202,202,202)}

/*  [S] btn-toggle   */
.btn-toggle {display:inline-block;position: absolute;left: -30px;top: -28px;}
.btn-toggle .white-circle {stroke: #efefef; transform:scale(1)}
.btn-toggle .outline {stroke: #efefef;transform:scale(1)}
.btn-toggle .check {stroke: #c6c6c6;transform:scale(1)}
.btn-toggle.active .outline {transform: rotate(0deg);transform-origin: center;stroke: #fb4357;}
.btn-toggle.active .white-circle {animation: .15s ease-in .15s forwards circle; transform: none; transform-origin: center;}
.btn-toggle.active .check {animation: .1s cubic-bezier(0.65, 0, 1, 1) .3s forwards check;stroke-dasharray: 0, 75px;stroke: #ffffff;}
.btn-toggle.active .check-group {animation: .1s ease-in-out check-group;transform-origin: center;}
/*  [E] btn-toggle   */

.btn-outline-red {position: relative}
.btn-outline-red i {display: inline-block;position: absolute;left: 27px;top: 10px;}
.btn-red {position: relative;}
.btn-red i {display: inline-block;position: absolute;left: 27px;top: 10px;}
/* [E]포토티켓 공통 */

/* [S]팝업 공통 */
.photo_ticket .popup{position: fixed;left: 0;bottom: auto;width: 100%;padding-bottom: 100px;height: calc(100% - 100px);background: #fff;z-index: 9999;}
.photo_ticket .popup_dim{display:none;position:fixed;overflow:hidden;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:9000;opacity:0}
.photo_ticket .popup_dim.active {display: block;opacity: 1;overflow: auto;}
.photo_ticket .popup_dim:focus{outline:none}
.photo_ticket .full_popup .popup{height:100%;padding-bottom:0}
.photo_ticket .slide_popup .popup{height:auto}
.photo_ticket .popup_header{position:relative;height:44px;line-height:44px;background:#fff}
.photo_ticket .popup_header .btn_close{display:inline-block;position:absolute;left:12px;top:12px}
.photo_ticket .popup_header h1{padding-left:48px;font-size:17px;line-height:45px;color:#030303;font-weight:bold;}
.photo_ticket .popup_container{overflow:hidden;padding-bottom:45px;}
.photo_ticket .btn_flexBox {display:flex;justify-content:space-between}
.photo_ticket .btn_flexBox a {text-align:center}
.photo_ticket .btn_flexBox a + a:after {content:"";position:absolute;top:50%;display:block;width:1px;height:18px;margin-top:-9px;background:#5a616b}
.photo_ticket .com_btn_full_action {position:relative;display:block;width:100%;height:auto;min-height:46px;letter-spacing: -2px; padding:14px 0;background-color:#373e46;font-size:16px;color:#fff !important;text-align:center}
.photo_ticket .popup {position: fixed;left: 0;bottom: 0;width: 100%;padding-bottom: 100px;height: calc(100% - 100px);background: #fff;z-index: 9999;}
.photo_ticket .popAlert .popup{top:50%;left:50%;width:250px;height:auto;bottom:auto;margin:0;padding:0;transform:translate(-50% , -50%)}
.photo_ticket .popAlert .popup_container {padding-bottom:0;}
.photo_ticket .alert_txt {padding:24px 15px;font-size:13px;color: rgb(55,62,70); letter-spacing: -1px; line-height:19px;text-align:center; word-break: keep-all;}
.photo_ticket .alert_txt span {letter-spacing: -1px}
/* [E]팝업 공통 */

/*  [S] sprite 이미지 */
@media only screen and (-webkit-min-device-pixel-ratio:1){
	.inputBox span input[type='date']:after,
	.inputBox span input[type='date']:disabled::after {content:''; background-image:url('../images/phototicket/common/phototicket@1x.png'); background-repeat: no-repeat; display: block; background-size: 200px;}
	.sprite.sprite-pt{content:''; background-image:url('../images/phototicket/common/phototicket@1x.png'); background-repeat: no-repeat; display: block; background-size: 200px;}
	.icon_rating.icon_12 {background-image: url("../images/phototicket/common/ico_12.png"); background-repeat: no-repeat; display: inline-block; width: 20px; height: 20px;background-size: 100%;}
	.icon_rating.icon_15 {background-image: url("../images/phototicket/common/ico_15.png"); background-repeat: no-repeat; display: inline-block; width: 20px; height: 20px;background-size: 100%;}
	.icon_rating.icon_19 {background-image: url("../images/phototicket/common/ico_19.png"); background-repeat: no-repeat; display: inline-block; width: 20px; height: 20px;background-size: 100%;}
	.icon_rating.icon_all {background-image: url("../images/phototicket/common/ico_all.png"); background-repeat: no-repeat; display: inline-block; width: 20px; height: 20px;background-size: 100%;}
	.icon_rating.icon_notyet {background-image: url("../images/phototicket/common/ico_notyet.png"); background-repeat: no-repeat; display: inline-block; width: 20px; height: 20px;background-size: 100%;}
}
@media only screen and (-webkit-min-device-pixel-ratio:2){
	.sprite.sprite-pt{content:''; background-image:url('../images/phototicket/common/phototicket@2x.png');}
	.inputBox span input[type='date']:after,
	.inputBox span input[type='date']:disabled::after {content:''; background-image:url('../images/phototicket/common/phototicket@2x.png');}
	.icon_rating.icon_12 {background-image: url("../images/phototicket/common/ico_12@2x.png");}
	.icon_rating.icon_15 {background-image: url("../images/phototicket/common/ico_15@2x.png");}
	.icon_rating.icon_19 {background-image: url("../images/phototicket/common/ico_19@2x.png");}
	.icon_rating.icon_all {background-image: url("../images/phototicket/common/ico_all@2x.png");}
	.icon_rating.icon_notyet {background-image: url("../images/phototicket/common/ico_notyet@2x.png");}
}
@media only screen and (-webkit-min-device-pixel-ratio:3){
	.sprite.sprite-pt{content:''; background-image:url('../images/phototicket/common/phototicket@3x.png');}
	.inputBox span input[type='date']:after,
	.inputBox span input[type='date']:disabled::after {content:''; background-image:url('../images/phototicket/common/phototicket@3x.png');}
	.icon_rating.icon_12 {background-image: url("../images/phototicket/common/ico_12@3x.png");}
	.icon_rating.icon_15 {background-image: url("../images/phototicket/common/ico_15@3x.png");}
	.icon_rating.icon_19 {background-image: url("../images/phototicket/common/ico_19@3x.png");}
	.icon_rating.icon_all {background-image: url("../images/phototicket/common/ico_all@3x.png");}
	.icon_rating.icon_notyet {background-image: url("../images/phototicket/common/ico_notyet@3x.png");}
}
.sprite.sprite-pt.sprite-cardNum {width: 27px;height: 20px;background-position: 0 -64px;}
.sprite.sprite-pt.sprite-icBack {width: 30px;height: 30px;background-position: -10px 1px;}
.sprite.sprite-pt.sprite-icBoastNor {width: 20px;height: 20px;background-position:-80px -59px;}
.sprite.sprite-pt.sprite-icBoastSel {width: 20px;height: 20px;background-position: -103px -59px;}
.sprite.sprite-pt.sprite-icBtnLikeSel {width: 20px;height: 17px;background-position: -151px -60px;}
.sprite.sprite-pt.sprite-icBtnLikeNor {width: 20px;height: 17px;background-position:-177px -60px;}
.sprite.sprite-pt.sprite-icBtnLikeSelLarge {width: 25px;height: 25px;background-position: -109px -28px;}
.sprite.sprite-pt.sprite-icBtnLikeNorLarge {width: 25px;height: 25px;background-position: -137px -28px;}
.sprite.sprite-pt.sprite-icCalChDim {width: 15px;height: 16px;background-position: -65px -152px;}
.sprite.sprite-pt.sprite-icCalCh {width: 15px;height: 16px;background-position: -85px -152px;}
.sprite.sprite-pt.sprite-icCardRotation {width: 32px;height: 32px;background-position: -44px -55px;}
.sprite.sprite-pt.sprite-icClose {width: 30px;height: 30px;background-position: -161px 0;}
.sprite.sprite-pt.sprite-icDownMore {width: 13px;height: 10px;background-position: -38px -40px;}
.sprite.sprite-pt.sprite-icFilterDateSel {width: 19px;height: 19px;background-position: -17px -151px;}
.sprite.sprite-pt.sprite-icFilterDate {width: 19px;height: 19px;background-position: -40px -151px;}
.sprite.sprite-pt.sprite-icInfo {width: 30px;height: 30px;background-position: -47px 2px;}
.sprite.sprite-pt.sprite-icLikeNor {width: 42px;height: 52px;background-position: -56px -89px;}
.sprite.sprite-pt.sprite-icLikeSel {width: 42px;height: 52px;background-position: -8px -89px;}
.sprite.sprite-pt.sprite-icShare {width: 30px;height: 30px;background-position: -123px 0;}
.sprite.sprite-pt.sprite-icSideMenu {width: 31px;height: 30px;background-position: -85px 2px;}
.sprite.sprite-pt.sprite-icTMore {width: 9px;height: 13px;background-position: -23px -39px;}
.sprite.sprite-pt.sprite-icTMoreLarge {width: 9px;height: 13px;background-position: -23px -39px;}
.sprite.sprite-pt.sprite-kakao {width: 26px;height: 26px;background-position: -75px -27px;}
.sprite.sprite-pt.sprite-icLikeGray {width: 10px;height: 10px; background-position:-58px -38px;}
/*  [E] sprite 이미지 */

/* [S] 포토티켓 header */
#header_box {background-color: #ffffff; border: 0; z-index: 10;}
#header_box.pt_header {height: 47px; background-color:transparent; font-size: 16px; margin: 0; line-height: 47px; color: #000000;}
#header_box.pt_header .title_area {position: absolute; left: 14px; top: 8px;}
#header_box.pt_header .title_area .name { display: block; line-height: 30px; font-size: 17px; text-align: left; padding-left: 6px; width: 265px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;letter-spacing: -1.6px;}
#header_box.pt_header .title {font-size: 16px; margin: 0;line-height: 47px;padding-left: 50px;color: #000000; text-align: left}
.popCompleted {overflow: auto;}
.popCompleted .popLayerHeader .badge {width: 219px;height: 30px;line-height: 28px;border-radius: 15px; color: #ffffff; margin: 0 auto;}
.popCompleted .popLayerHeader > div { width: 100%;height: 47px;padding-top: 14px;}
.popCompleted .popLayerHeader .badge.badge_blue { background: #209eff; text-align: center;}
.popCompleted .popLayerHeader .badge.badge_red { background: var(--watermelon)}
.popCompleted .popLayerHeader .badge .dday { position: relative; font-size: 15px; font-weight: bold; letter-spacing: -1.1px; padding-right: 17px;}
.popCompleted .popLayerHeader .badge .dday::after { content: ''; position: absolute; height:10px; border-right: 1px solid rgba(255,255,255,.5); right: 7px;top: 4px;}
.popCompleted .popLayerHeader .badge .text { font-size: 14px; font-weight: normal; letter-spacing: -1.1px;}

#header_box.pt_header .btn_wrap {position: absolute; right: 15px; top: 6px}
#header_box.pt_header .btn_wrap .btn_info { display: inline-block }
#header_box.pt_header .btn_wrap .btn_menu { display: inline-block; margin-left: 3px; }
#header_box.pt_header .allview_wrap .allview_box_wrap .allview_header:before {right: 20px; left: auto}

#header_box.pt_header nav.type_pt { position: relative; padding: 0 20px;}
#header_box.pt_header nav.type_pt::after {content:''; position: absolute; width: 100%; height:0; left: 0; bottom: 5px; border-bottom: 1px solid #dddddd; z-index: 2;}
#header_box.pt_header nav.type_pt::before {content:''; position: absolute; width: 100%; height:0; left: 0; bottom:0; border-bottom: 7px solid #f2f2f2; z-index: 1;}
#header_box.pt_header nav.type_pt.active::before {content:none;}
#header_box.pt_header nav.type_pt.active::after {bottom: 5px;}
#header_box.pt_header nav.type_pt .inner { overflow: hidden }
#header_box.pt_header nav.type_pt .inner a {width:70px; color: #666666; font-size: 13px; margin-right: 20px; white-space: nowrap; font-weight: normal}
#header_box.pt_header nav.type_pt .inner a:last-child {margin-right: 0}
#header_box.pt_header nav.type_pt .inner a.active {color: #fb4357; border-color: #fb4357}
#header_box.pt_header nav.type_pt .icon_search { color: #666666; border: 0; float: right; text-align: right; margin-right: 0;}
#header_box.pt_header nav.type_pt .icon_search.active { color: #666666 !important; }
#header_box.pt_header nav.type_pt .icon_search i {display: inline-block;position: absolute;right: 51px;top: 13px;}
/** [S]
	날짜 : 2020.04.24
	작성자 : 이주연
	내용 : nav의 유무에 따른 클래스 추가
*/
#header_box.pt_header.double { height: 94px;}
/** [E] nav의 유무에 따른 클래스 추가 */
#header_box.pt_header nav.type_pt2 { position: relative; padding: 0 20px;}
#header_box.pt_header nav.type_pt2::after {content:''; position: absolute; width: 100%; height:0; left: 0; bottom: 5px; border-bottom: 1px solid #dddddd; z-index: 2;}
#header_box.pt_header nav.type_pt2::before {content:''; position: absolute; width: 100%; height:0; left: 0; bottom:0; border-bottom: 7px solid #f2f2f2; z-index: 1;}
#header_box.pt_header nav.type_pt2.active::before {content:none;}
#header_box.pt_header nav.type_pt.active::after {bottom: 5px;}
#header_box.pt_header nav.type_pt2 .inner { overflow: hidden }
#header_box.pt_header nav.type_pt2 .inner a { position: relative; color: rgb(102,102,102); line-height: 40px; font-size: 14px; margin-right: 20px; white-space: nowrap; font-weight: normal; text-align: left; padding-left: 7px; width: auto}
#header_box.pt_header nav.type_pt2 .inner a.active { color: #222222; border: 0}
#header_box.pt_header nav.type_pt2 .inner a.active::after { content: ''; position: absolute; width: 3px; height: 3px; background-color: #222222; top: 17px; left: 0; border-radius: 50%;}
#header_box.pt_header nav.type_pt2 .inner a.active:last-child::after {content: none;}
#header_box.pt_header nav.type_pt2 .inner a:last-child {margin-right: 0}
#header_box.pt_header nav.type_pt2 .inner .btn-badge-red {float: right;width: 125px;text-align: center;color: var(--watermelon);font-weight: 500; padding: 0; transform: translateY(7px);height: 25px;line-height: 25px;border: 1px solid;border-radius: 12px;font-size: 12px;letter-spacing: -1.1px;}
#header_box.pt_header nav.type_pt2 .inner .btn-badge-red.active {line-height: 26px;color: #ffffff; background-color: var(--watermelon)}
#header_box.pt_header nav.type_pt2 .inner .btn-badge-red::after {content: none}
/* [E] 포토티켓 header */

/**/
.slider-wrap {width:100%; overflow: hidden}

/* [S] 포토티켓 메인 - app */
.content_wrap.photo_ticket { padding-top: 47px; overflow: initial; }
.content_wrap.photo_ticket .slider_wrap .title { padding-left: 30px; font-size: 22px; line-height: 30px; font-weight: 600; padding-top: 15px; margin-bottom: 19px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container { width: 260px; margin: 0 auto; overflow: visible}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide { position: relative; text-align:center; display:flex; align-items:center; justify-content:center; margin-bottom: 30px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster {width: 260px; height: 370px; border-radius: 20px; cursor: pointer;transition: 0.3s}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster::after {content:''; position: absolute; width: 100%; height: 360px; border-radius: 20px; top: 0; left: 0; box-shadow: 0 10px 20px rgba(0,0,0,.3); z-index: -1;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster img { width: 100%; height: 100%; border-radius: 20px;}

.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide.swiper-slide-prev .poster,
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide.swiper-slide-next .poster {transform: scale(0.92); transition: 0.3s}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide.swiper-slide-prev .poster::after,
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide.swiper-slide-next .poster::after { content: none;}

.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .dim {position: absolute; bottom: 0; left: 0; width:100%; height: 284px; border-radius: 0 0 20px 20px; background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.57) 100%); background: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.57) 100%);}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .badge_top { position:absolute; padding:0 12px; height: 25px; top: 0; right: 0; background-color: rgb(251,67,87); border-radius: 0 19px 0 10px; color: #ffffff; font-size: 11px; font-weight: 400; line-height: 25px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .badge_top .txt { position: relative; padding-right: 10px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .badge_top .txt::after { content: '|'; position: absolute; right: 0; top: 0; padding-right: 3px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info {position: absolute; left: 0; top:243px; color: #ffffff; text-align: left; padding-left: 20px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .title { font-size: 18px; padding-top: 0; line-height: 24px; margin-bottom: 5px; padding-left: 0}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .date { font-size: 13px; line-height: 16px; font-weight: 500; margin-bottom: 4px; letter-spacing: 0}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .info { position: relative;  margin-bottom: 12px; font-size: 13px; letter-spacing: 0;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .info .theater { position: relative; padding-right: 5px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .info .theater::after {content: ''; position: absolute; width: 3px; height: 3px; border-radius: 50%; background: #ffffff; right: -2px; top: 6px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .badge_ellipse {position: absolute; background: rgba(255,255,255,0.9); padding: 0 9px; height: 23px; color: rgb(251,67,57); line-height: 24px; border-radius: 11px; font-weight: 500; font-size: 12px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .badge_ellipse .txt {position: relative; padding-right: 5px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .poster_info .badge_ellipse .txt::after {position: absolute; content: '|'; top: 0; right: 0;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .badge_circle .btn-circle {position: absolute; display: block; width: 80px; height: 80px; border-radius: 40px; color: #ffffff; background: linear-gradient(124deg, #fb4357 14%, #ef642f 86%); background: -webkit-linear-gradient(124deg, #fb4357 14%, #ef642f 86%);  box-shadow: 0 4px 10px 0 rgba(251, 67, 87, 0.4); bottom: -11px; right: -18px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .badge_circle .btn-circle .txt {font-size: 16px; font-weight: bold; padding-top: 27px; margin-bottom: 5px;}
.content_wrap.photo_ticket .slider_wrap .swiper-container .swiper-slide .badge_circle .btn-circle .count {font-size: 12px;}
/* [E] 포토티켓 메인 - app */

/* [S] 포토티켓 메인 - web */
.content_wrap.photo_ticket .slider_wrap.web .swiper-container { width: 100%; overflow: auto; padding: 0 30px; }
.content_wrap.photo_ticket .slider_wrap.web .swiper-container .swiper-slide { width: 260px; margin-right: 40px;}
/* [E] 포토티켓 메인 - web */

/* [S] 이벤트 슬라이더    */
.content_wrap.photo_ticket .alert_wrap {padding: 0 27px;}
.content_wrap.photo_ticket .alert_wrap::before {content: none;}
.content_wrap.photo_ticket .alert_wrap .swiper-container .swiper-slide {border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; margin-bottom: 14px;}
.content_wrap.photo_ticket .alert_wrap .swiper-container .swiper-slide a { display: block; color: #222222; position: relative; text-align: center; font-size: 15px; padding: 13px 0;}
.content_wrap.photo_ticket .alert_wrap .swiper-container .swiper-slide a .title { display: block; font-weight: bold; line-height: 19px;}
.content_wrap.photo_ticket .alert_wrap .swiper-container .swiper-slide a .txt { display: block; line-height: 19px; }
.content_wrap.photo_ticket .alert_wrap .swiper-container .swiper-slide a .txt .primary{ font-weight: bold }
.content_wrap.photo_ticket .alert_wrap .swiper-container .swiper-slide a .right_arrow {position: absolute; right: 6px; top: 25px;}
/* [E] 이벤트 슬라이더    */

/* [S] 이벤트 광고 영역    */
.content_wrap.photo_ticket .eventBannerWrap { position: relative;width: auto;height: auto; background-color: #FFF0BA; text-align: center;}
.content_wrap.photo_ticket .eventBannerWrap a img { width: 320px; height: 90px; }
/* [E] 이벤트 광고 영역    */

/*  [S] 포토티켓 - 헤더 컴포넌트    */
.photo_ticket .title_wrap {position: relative; padding: 0 15px; height: 60px; margin-bottom: 13px;}
.photo_ticket .title_wrap .title {float: left; font-size: 17px; font-weight: bold; left: 15px; top: 22px; letter-spacing: 0; line-height: 60px;}
.photo_ticket .title_wrap .all {position: absolute;right: 0;}
.photo_ticket .title_wrap .all .btn-all {display: block; font-size: 14px; font-weight: 500; color: #999999; padding: 15px 27px 15px 15px; line-height: 30px;}
.photo_ticket .title_wrap .all .btn-all i {display: inline-block; position: absolute; top: 23px; right: 17px;}
.photo_ticket .title_wrap .title .badge {width: 100px; height: 25px; display: inline-block; color: #fb4357; font-weight: 500; font-size: 12px; line-height: 23px; text-align: center; border: 1px solid #fb4357; border-radius: 12px; margin-left: 4px;transform: translateY(-1px);}
/*  [E] 포토티켓 - 헤더 컴포넌트    */

/*  [S] 내 포토티켓    */
.content_wrap.photo_ticket .mypt_wrap { position: relative; padding: 0 0 20px;}
/*   내 포토티켓 - 카드 컴포넌트(빈 카드 화면 일 경우)   */
.content_wrap.photo_ticket .mypt_wrap.none .title_wrap { margin-bottom: 20px;}
.content_wrap.photo_ticket .mypt_wrap.none .card_wrap p {text-align: center; color: #101010; font-size: 15px; line-height: 19px; margin-bottom: 12px;}
.content_wrap.photo_ticket .mypt_wrap.none .card_wrap .btn_grey {width: 165px; margin-bottom: 20px; height: 36px; line-height: 34px;}

/*  포토티켓 자랑하기 - (빈 카드 화면 일 경우)   */
.content_wrap.photo_ticket .ptboast_wrap.none { padding-bottom: 20px; }
.content_wrap.photo_ticket .ptboast_wrap.none .title_wrap { margin-bottom: 20px; }
.content_wrap.photo_ticket .ptboast_wrap.none p {text-align: center; color: #101010; font-size: 15px; line-height: 19px; margin-bottom: 12px;}
.content_wrap.photo_ticket .ptboast_wrap.none .btn_grey{ width: 165px; margin-bottom: 20px; height: 36px; line-height: 34px; }

/*   내 포토티켓 - 카드 컴포넌트   */
.photo_ticket .card_wrap {padding: 0 15px;}
.photo_ticket .card_wrap .card { position: relative; display: block; width: 100%; height: 120px; background-color: #ffffff; border: 1px solid #efefef; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); border-radius: 10px; margin-bottom: 33px; cursor: pointer}
.photo_ticket .card_wrap .card .img { position: absolute; top: -13px; left: 14px; display:block; width: 80px; height: 120px; border-radius: 10px; border: 1px solid rgba(153,153,153,0.1); overflow: hidden}
.photo_ticket .card_wrap .card .img img { width: 100%; height: 100%; }
.photo_ticket .card_wrap .card .img .badge_top {position: absolute; width: 27px; height: 20px; border-radius: 0 10px 0 10px; background-color: rgba(0, 0, 0, 0.3); color: #ffffff; top: 0; right: 0; font-size: 12px; line-height: 20px; text-align: center}
.photo_ticket .card_wrap .movie_info { position: relative; padding: 22px 86px 0 106px;}
.photo_ticket .card_wrap .movie_info > .title {display: block; font-weight: bold; margin-bottom: 25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;line-height: 19px}
.photo_ticket .card_wrap .movie_info > .tip { position: absolute; display: block; font-weight: 500; color: #ff2f35; font-size: 12px; top: 44px; letter-spacing: -1.6px;}
.photo_ticket .card_wrap .movie_info .info {display: block; font-size: 12px; font-weight: 500; margin-bottom: 3px; line-height: 15px;}
.photo_ticket .card_wrap .movie_info .info:last-child {margin-bottom: 0}
.photo_ticket .card_wrap .movie_info .info .title { position: relative; display: inline-block; color: #999999; padding-right: 8px;letter-spacing: -1px;}
.photo_ticket .card_wrap .movie_info .info .title::after { position: absolute;content: '';right: 3px;top: 0;width: 1px;height: 9px;border-right: 1px solid rgba(153,153,153,0.5);}
.photo_ticket .card_wrap .movie_info .info .date {display: inline-block;}
.photo_ticket .card_wrap .badge { position: absolute; width: 68px; height: 68px; border-radius: 50%; text-align: center; color: #ffffff; right: 9px; bottom: 26px;}
.photo_ticket .card_wrap .badge.badge_red { background-color: #ff2f35;}
.photo_ticket .card_wrap .badge.badge_blue{ background-color: #209eff;}
.photo_ticket .card_wrap .badge { background-color: #ff2f35}
.photo_ticket .card_wrap .badge .dday { font-weight: bold; font-size: 18px; padding-top: 20px; margin-bottom: 2px; letter-spacing: 1px;}
.photo_ticket .card_wrap .badge .txt { font-size: 10px; font-weight: 300;}
.photo_ticket .card_wrap .btn_grey i { display: inline-block }
/*  [E] 내 포토티켓    */
/*
  [S] 포토티켓 자랑하기 - single 클래스 추가
   - 뱃지가 없을 경우
   - 상단 nav에 border가 있을 경우
*/
.photo_ticket .card_wrap.single .movie_info {padding: 22px 19px 0 106px;}

/*   포토티켓 자랑하기  - 이미지 컴포넌트    */
.photo_ticket .imgcard_wrap { padding: 0 15px; }
.photo_ticket .ptboast_wrap .row { margin-bottom: 25px;}
.photo_ticket .ptboast_wrap .row::after { content: ''; clear: both; display: block;}
.photo_ticket .ptboast_wrap .row .col { position: relative; float: left; width: 50%; padding-right: 8px; }
.photo_ticket .ptboast_wrap .row .col:last-child { padding-right: 0; padding-left: 8px;}
.photo_ticket .ptboast_wrap .row .col:last-child .btn_like { right: -8px; }
.photo_ticket .imgcard_wrap .card { position: relative; display: block; border-radius: 10px; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08); background-color: #ffffff; padding: 10px 10px 8px 10px; cursor: pointer}
.photo_ticket .imgcard_wrap .card .img { display: block; border-radius: 10px; }
.photo_ticket .imgcard_wrap .card .img img { width: 100%;}
.photo_ticket .imgcard_wrap .card .info { display: block; font-size: 13px; font-weight: 500;}
.photo_ticket .imgcard_wrap .card .info .user { display: block; font-size: 13px; font-weight: 500; margin-bottom: 3px; padding-top: 8px; color: rgb(136,136,136); line-height: 15px; padding-right: 23px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.photo_ticket .imgcard_wrap .card .info .count_like { display: block; color: var(--watermelon); font-size: 12px; padding-right: 27px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.photo_ticket .imgcard_wrap .card .info .count_like i { display: inline-block; margin-right: 4px;line-height: 13px;}

/* [S] 2020.04.28 하트 버튼 애니메이션 추가 */
.btn-heart {
	bottom: -17px; right: 2px;
	display: inline-block;
	bottom: -9px;
	right: 2px;
	width: 40px;
	position: absolute;
	height: 40px;
	border-radius: 12px;
	line-height: 40px;
	font-size: 16px;
	background-color: var(--watermelon);
	border: 1px solid var(--watermelon);
	color: #ffffff;
	letter-spacing: -.5px;
	font-weight: 600;
	box-shadow: 0 3px 8px 0 rgba(251, 67, 87, 0.5);
}
.btn-heart i {
	position: absolute;;
	top: 11px;
	right: 9px;
}
.btn-heart.active i {
	animation-duration: .5s;
	-webkit-animation-name: stroke;
	animation-name: stroke;
}
.btn-heart.active::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 17px;
	background: url(../images/phototicket/common/ic_like_sel.png) no-repeat;
	animation-duration: .5s;
	-webkit-animation-name: fill;
	animation-name: fill;
	top: 12px;
	left: 10px;
}
.btn-heart.btn-lg {
	bottom: auto; right: auto;
	display: inline-block;
	width: 40px;
	position: inherit;
	height: 40px;
	border-radius: 12px;
	line-height: 40px;
	font-size: 16px;
	background-color: var(--watermelon);
	border: 1px solid var(--watermelon);
	color: #ffffff;
	letter-spacing: -.5px;
	font-weight: 600;
	box-shadow: 0 3px 8px 0 rgba(251, 67, 87, 0.5);
}
/* [E] 2020.04.28 하트 버튼 애니메이션 추가 */

/* [S] 2020.04.28 하트 버튼 애니메이션 추가 */
.btn-heart-lg {
	position: relative;
	display: inline-block;
	width: 165px;
	height: 50px;
	border-radius: 25px;
	line-height: 48px;
	background-color: var(--watermelon);
	border: 1px solid var(--watermelon);
	box-shadow: 0 3px 8px 0 rgba(251, 67, 87, 0.5);
}
.btn-heart-lg i {
	position: relative;
	display: inline-block !important;
	vertical-align: middle;
}
.btn-heart-lg span {
	display: inline-block;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: -.5px;
	font-size: 18px;
	vertical-align: middle;
}
.btn-heart-lg.active i::after{
	content: '';
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url("../images/phototicket/common/ic_btn_like_nor.png") no-repeat;
	animation-duration: .5s;
	-webkit-animation-name: fill;
	animation-name: fill;
	left: 1px;
	top: 2px;
}
.btn-heart-lg.active i {
	animation-duration: .5s;
	-webkit-animation-name: stroke;
	animation-name: stroke;
}
/* [E] 2020.04.28 하트 버튼 애니메이션 추가 */

.photo_ticket .ptboast_wrap { position: relative; }
.photo_ticket .ptboast_wrap .title_wrap { margin-bottom: 0 }
/* [E] 포토티켓 자랑하기  */

/* [S]  상영 영화 차트  */
.photo_ticket .cgvMovieChartWrap {position: relative; margin-bottom: 7px;}
.photo_ticket .cgvMovieChartWrap .title {padding-left: 30px;font-size: 22px;line-height: 30px;font-weight: 600;padding-top: 25px;margin-bottom: 19px;}
.photo_ticket .cgvMovieChartContainer > li{display:none; position:relative; overflow: auto; -webkit-overflow-scrolling: touch; z-index: 1;}
.photo_ticket .cgvMovieChartContainer > li.active{display:list-item}
.photo_ticket .cgvMovieChartContainer > li.active:after { content: none}
.photo_ticket .cgvMovieChartContent{padding:0 30px; width: 750px;}
/* [E]  상영 영화 차트  */

/* [S]포토티켓 플립 슬라이더 - app */
.myPhtoticketFlip { padding-top: 11px; }
.myPhtoticketFlip .title_area .title {display:block; font-size: 20px; line-height: 24px; font-weight: bold; letter-spacing: -2px; text-align: center; color: #222222; margin-bottom: 4px;padding: 0 30px;text-overflow: ellipsis;}
.myPhtoticketFlip .title_area .title-sm {display:block; font-size: 14px; line-height: 17px; text-align: center; color: rgb(137,137,137); margin-bottom: 15px;}
.myPhtoticketFlip .title_area .title.title-single {margin-bottom: 24px;margin-top: 5px;letter-spacing: -2px;}

.myPhtoticketFlip .swiper-container { position: relative; width: 260px; margin: 0 auto; height: 410px;transform: translateY(-25px); overflow: visible}
.myPhtoticketFlip .swiper-container .swiper-slide {text-align:center; display:flex; align-items:center; justify-content:center; /*margin-bottom: 34px;*/}
.myPhtoticketFlip .swiper-container .swiper-slide .flip-container {width: 100%; height: 358px; border-radius: 20px;transition: 0.3s;perspective: 1000;}
.myPhtoticketFlip .swiper-container .swiper-slide .flip-container img { width: 100%; height: 100%; }

.myPhtoticketFlip .swiper-container .swiper-slide .flip-container .flipper {height: 100%; border-radius: 13px;transition: 0.6s;transform-style: preserve-3d;position: relative;}
.myPhtoticketFlip .front { position: absolute; right: 0; padding: 13px; width: 235px; height: 358px; z-index: 2;border-radius: 12px; box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);/* for firefox 31 */transform: rotateY(0deg);backface-visibility: hidden;-webkit-backface-visibility: hidden;}
.myPhtoticketFlip .front .inner { position: relative; height: 100% }
.myPhtoticketFlip .front img { width: 209px; height: 332px; border-radius: 8px; }

.myPhtoticketFlip .back { position: absolute; top: 0; padding: 40px 18px 20px 18px; width: 235px; height: 358px; z-index: 2;border-radius: 12px; box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);-webkit-backface-visibility: hidden;-webkit-transform: rotateY(180deg);}
.myPhtoticketFlip .back .inner { position: relative; height: 100%; text-align: left}
.myPhtoticketFlip .back .inner .title { font-size: 12px; color: #898989; line-height: 15px; border-bottom: 1px solid #c3c3c3; margin-bottom: 15px;}
.myPhtoticketFlip .back .inner .title_lg { font-size: 14px; color: #222222; line-height: 17px; margin-bottom: 2px; font-weight: bold}
.myPhtoticketFlip .back .inner .title_sm { font-size: 11px; color: #898989; line-height: 17px; margin-bottom: 16px;}
.myPhtoticketFlip .back .inner .title .rating {display: inline-block;position: absolute;right: 0;top: -7px; }
.myPhtoticketFlip .back .inner .info { padding-left: 10px; margin-bottom: 20px;}
.myPhtoticketFlip .back .inner .info li { position: relative; font-size: 10px; line-height: 12px; color: #555555; margin-bottom: 5px;}
.myPhtoticketFlip .back .inner .info li::after { position: absolute; content: ''; background: #7a7a7a; width: 2px; height: 2px; border-radius: 50%; top: 4px; left: -5px;}
.myPhtoticketFlip .back .inner .info li:last-child  { margin-bottom: 0;}
.myPhtoticketFlip .back .inner .info li:last-child  { margin-bottom: 0;}
.myPhtoticketFlip .back .inner .info li.bar span:first-child { position: relative; padding-right: 8px; }
.myPhtoticketFlip .back .inner .info li.bar span:first-child::after { position: absolute; content: ''; border-right: 1px solid #555555; height: 8px; top:1px; right: 4px; }
.myPhtoticketFlip .back .inner .bg_grey {width: 100%; height: 90px; background: #f4f4f4;border-radius: 6px; padding: 17px 0 0 0; margin-bottom: 14px;}
.myPhtoticketFlip .back .inner .bg_grey .number {text-align: center; font-size: 12px; font-weight: bold; line-height: 15px; margin-bottom: 4px; }
.myPhtoticketFlip .back .inner .bg_grey .number span {font-size: 11px; letter-spacing: -1.5px}
.myPhtoticketFlip .back .inner .bg_grey .text {text-align: center; color:#555555; font-size: 10px; font-weight: bold; line-height: 13px; letter-spacing: -1px;}
.myPhtoticketFlip .back .inner .sign .lg {text-align: center; font-size: 13px; font-weight: bold; line-height: 16px; letter-spacing: -.54px;}
.myPhtoticketFlip .back .inner .sign .sm {text-align: center; color:#898989; font-size: 10px; line-height: 11px;}
.myPhtoticketFlip .back .inner .btn-toggle {top: -56px;}
.myPhtoticketFlip .flip-container.active .flipper {transform: rotateY(180deg);}

/*  포토티켓 플립 슬라이더 - pagination  */
.myPhtoticketFlip .swiper-container-horizontal>.swiper-pagination-bullets { bottom: 5px; }
.myPhtoticketFlip .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 1.5px; }
.myPhtoticketFlip .swiper-pagination-bullet-active { background: var(--watermelon) }
.myPhtoticketFlip .swiper-pagination-bullet { width: 5px; height: 5px;}
.myPhtoticketFlip .btn-flip {display: inline-block;position: absolute;right: -6px;bottom: -8px;}
.myPhtoticketFlip .back .btn-flip {right: -11px;bottom: -15px;}

/*  포토티켓 플립 슬라이더 - checkbox custom  */
.myPhtoticketFlip label { position: absolute;left: -26px;top: -25px; }
.myPhtoticketFlip label input[type='checkbox'] { height: 0; width: 0; }
.myPhtoticketFlip label input[type='checkbox'] {position: absolute;top: -20px;left: -25px;display: flex;margin: .6em 0;align-items: center;color: #9e9e9e;transition: color 250ms cubic-bezier(.4,.0,.23,1);}
.myPhtoticketFlip label input[type='checkbox'] + span {animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);display: flex;justify-content: center;align-items: center;width: 40px;height: 40px;border-radius: 50%; border: 1px solid rgb(239,239,239); background-color: #ffffff;cursor: pointer;transition: all 250ms cubic-bezier(.4,.0,.23,1);}
.myPhtoticketFlip label input[type='checkbox'] + span::before {content: "";position: absolute;top: 12px;left: 9px;border-right: 2px solid transparent;border-bottom: 2px solid transparent;transform: rotate(45deg);transform-origin: 0 100%;animation: checkbox-uncheck 100ms 100ms cubic-bezier(.4,.0,.23,1) forwards;}
.myPhtoticketFlip label input[type='checkbox']:focus {color: #ffffff;}
.myPhtoticketFlip label input[type='checkbox']:checked + span {background-color: var(--watermelon); border: .5em solid var(--watermelon);animation: expand-bounce 200ms cubic-bezier(.4,.0,.23,1);}
.myPhtoticketFlip label input[type='checkbox']:checked + span::before {content: "";position: absolute;top: 12px;left: 9px;border-right: 2px solid transparent;border-bottom: 2px solid transparent;transform: rotate(45deg);transform-origin: 0 100%;animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;}
.myPhtoticketFlip .flip-container .flipper .back label{top: -53px}

/* 포토티켓 플립 슬라이더 - 버튼 영역 */
.myPhtoticketFlip .btn_area { position: relative; width: 100%; margin-top: -15px;}
.myPhtoticketFlip .btn_area.btn_area_sm { padding-top: 14px;}
.myPhtoticketFlip .btn_area .inner {margin-bottom: 15px;}
.myPhtoticketFlip .btn_area .btn-red i {position: absolute;left: 56px;top: 11px;}
.myPhtoticketFlip .btn_area .inner .text-lg { font-weight: bold; font-size: 17px; line-height: 20px; letter-spacing: -2px; margin-bottom: 2px;}
.myPhtoticketFlip .btn_area .inner .text-sm { font-size: 13px; color: #555555; line-height: 16px; letter-spacing: -1.6px; }
.myPhtoticketFlip .btn_area .inner > div { padding-top: 19px; margin-bottom: 20px; }
.myPhtoticketFlip .btn_area .inner > div a:first-child {margin-right: 2px;}

/* 포토티켓 플립 슬라이더 - web */
.myPhtoticketFlip.web .swiper-container { width: 100%; overflow: auto; padding: 0 30px; }
.myPhtoticketFlip.web .swiper-container .swiper-slide { width: 260px;margin-right: 29px;}

/* [S] 포토티켓만 한개만 보여질 경우  */
.myPhtoticketFlip.onlyPhoto { padding: 12px 0 0;} /** padding: 12px 46px 0; */
.myPhtoticketFlip.onlyPhoto .front {position:static; width: 283px; height: 438px; margin: 0 auto 10px; /* width: 100%; height: 100%; **/ }
.myPhtoticketFlip.onlyPhoto .front .inner img {width: 100%; height: 100%; }
.myPhtoticketFlip.onlyPhoto .badge-area { text-align: center;margin-bottom: 15px; }
.myPhtoticketFlip.onlyPhoto .badge-area .btn-badge-grey{ text-align: center; width: 155px; }
.myPhtoticketFlip.onlyPhoto .front { width: 268px; height: 413px; margin: 0 auto 5px; }
/* [E] 포토티켓만 한개만 보여질 경우  */

/* [S] CGV광주충정로 점일 경우  */
.myPhtoticketFlip.myPhtoticketFlip-small .title_area .tip { display: block; color: var(--watermelon); font-size: 12px; line-height: 15px; text-align: center; margin-bottom: 15px;}
.myPhtoticketFlip.myPhtoticketFlip-small .title_area .title-sm {margin-bottom: 4px;}
.myPhtoticketFlip.myPhtoticketFlip-small .front { width: 223px; height: 339px; }
.myPhtoticketFlip.myPhtoticketFlip-small .back { width: 223px; height: 339px; padding: 24px 18px 20px 18px;}
.myPhtoticketFlip.myPhtoticketFlip-small .back .btn-toggle {top: -39px;left: -36px; }
.myPhtoticketFlip.myPhtoticketFlip-small .swiper-container .swiper-slide { margin-bottom: 15px;}
/* [E] CGV광주충정로 점일 경우  */

/* [S] 플립슬라이더 팝업 헤더 */
.photo_ticket .pop_header {overflow: hidden; width: 100%;background-color: #fff;z-index: 2;height: auto;top:0;padding-top: 0;border: none;position: absolute; line-height: 50px;font-weight: 400;font-size: 14px;text-align: left;color: #373e46;vertical-align: middle;padding-left: 0;border-bottom: 0;}
.photo_ticket .pop_header a {line-height: 55px;}
.photo_ticket .pop_header .btn_share {position: absolute;left: 15px;top: 9px;}
.photo_ticket .pop_header > div {width: 100%;height: 47px;padding-top: 14px;}
.photo_ticket .pop_header .badge {width: 219px;height: 30px;line-height: 28px;border:1px solid transparent; border-radius: 15px;color: #ffffff;margin: 0 auto;text-align: center;}
.photo_ticket .pop_header .badge.badge_blue {background: #209eff;}
.photo_ticket .pop_header .badge.badge-red {background: var(--watermelon);}
.photo_ticket .pop_header .badge.badge_grey {width: 194px; background: rgb(231,231,231);color:#222222}
.photo_ticket .pop_header .badge.badge_grey .dday {font-size: 14px;font-weight: normal}
.photo_ticket .pop_header .badge.badge_grey .dday::after {border-color:rgba(164,164,164,.5)}
.photo_ticket .pop_header .badge.badge-red {background: var(--watermelon);color:#ffffff}
.photo_ticket .pop_header .badge .dday {position: relative;font-size: 15px;font-weight: bold;letter-spacing: -1.1px;padding-right: 17px;}
.photo_ticket .pop_header .badge .dday::after {content: '';position: absolute;height: 10px;border-right: 1px solid rgba(255,255,255,.5);right: 7px;top: 4px;}
.photo_ticket .pop_header .badge .text {font-size: 14px;font-weight: normal;letter-spacing: -1.1px;}
.photo_ticket .btnPopClose {width: 38px;height: 38px;background-position: left -22px;}
.photo_ticket .pop_header .btn_close {left: auto;right: 7px;display: inline-block;position: absolute;top: 9px;}
/* [E] 플립슬라이더 팝업 헤더 */
/* [E]포토티켓 플립 슬라이더 - app */

/* [S] 기간검색 팝업 */
.photo_ticket .popLayer{z-index:10000}
.photo_ticket .scrlOff{position: fixed;height:100vh;width:100vw;overflow:hidden !important;}
.photo_ticket .com_btn_bottom_fixed{position:fixed; left:0; bottom:0; width:100%; padding:15px 0 calc(constant(safe-area-inset-bottom) + 15px); padding:15px 0 calc(env(safe-area-inset-bottom) + 15px); text-align:center}
.photo_ticket .popLayerFooter{width:100%;}
.photo_ticket .popLayerFooter .btnPopConfirm{display:block; width:100%; height:50px; font-weight:400; font-size:16px; color:#fff; line-height:50px; text-align:center; background-color:#373e46}
.photo_ticket .btnPopClose{position:absolute; right:0; top:6px; display:block; width:38px; height:38px; background-position:left -22px}

.photo_ticket .com_pop_wrap{position:fixed; top:100%; right:100%; bottom:100%; left:100%; width:100%; height:100%; z-index:100}
.photo_ticket .com_pop_fog{position:fixed; top:150%; left:0; width:100%; height:100%; background-color:#000}
.photo_ticket .com_pop_header{position:relative; height:50px; padding-left:20px; line-height:50px; font-weight:400; font-size:16px; text-align:left; color:#000; vertical-align:middle; border-bottom:1px solid #d3d6db}
.photo_ticket .com_pop_btn_close{position:absolute; right:0; top:6px; display:block; width:38px; height:38px; background-position:left -22px}

.photo_ticket .popLayer {height: 55px;line-height: 55px;border-bottom: 1px solid #f2f2f2;border-radius: 20px 20px 0 0;}
.photo_ticket .popLayerHeader {height:55px; padding-left:18px; line-height:50px; font-weight:400; font-size:14px; text-align:left; color:#373e46; vertical-align:middle; border-bottom:1px solid #dcdee3}
.photo_ticket .popLayerHeader h1 {line-height: 55px; color: #030303;font-weight: bold;font-size: 17px;letter-spacing: -2px;}
.photo_ticket .popLayerHeader .btn_close {left: auto; right: 13px;display: inline-block;position: absolute; top: 12px;}
.photo_ticket .popScheduleInfo {position:fixed; left:0; bottom:-100%; width:100%; height: 216px; max-height:80vh; background-color:#fff; border-radius:16px 16px 0 0; z-index:9}
.photo_ticket .popScheduleInfo .popLayerContainer{margin-bottom: 18px;}
.photo_ticket .popScheduleInfo .popLayerFooter.w50p{overflow:hidden; width:100%; padding:0 0 constant(safe-area-inset-bottom) 0; background:linear-gradient(to left, var(--dustyOrange), var(--watermelon))}
.photo_ticket .popScheduleInfo .popLayerFooter.w50p a {display:block; float:left; position:relative; width:50%; font-weight:600; color:#fff; line-height:50px; text-align:center;font-size: 17px; letter-spacing: -.43px; }
.photo_ticket .popScheduleInfo .popLayerFooter.w50p a:first-child:before{content:none}
.photo_ticket .DatepickerBox {padding: 20px 20px 6px;}
.photo_ticket .DatepickerBox li {float: left;height: 36px;margin-right: 6px;width: 123px; flex: 0 0 17%; max-width: 33.333333%;}
.photo_ticket .DatepickerBox li.lg {flex: 0 0 23%; margin-right: 0}
.photo_ticket .DatepickerBox li a {display: block; text-align: center; line-height: 36px; color:rgb(102,102,102); border-radius: 8px;background: rgba(242,242,242,.8);}
.photo_ticket .DatepickerBox li.active a {background: var(--watermelon); color: #ffffff}
.photo_ticket .stem_btn01 {float: left;display: block;width: 50%;min-height: 50px;color: #fff; line-height: 50px; font-size: 17px;letter-spacing: -0.5px;text-align: center;border-right: 1px solid #e33745;border-left: 1px solid #f9847f;}
.photo_ticket .stem_btn01:first-child {border-left: 0 !important;}
.photo_ticket .row {display: flex;flex-wrap: wrap;}
.photo_ticket .inputBox {position: relative; padding: 0 20px; overflow: hidden}
.photo_ticket .inputBox:before {content: '~';position: absolute;left: 50%;top: 12px;display: block;margin-left: -3px;}
.photo_ticket .inputBox span {width: 46%; display: block;height: 36px;line-height: 36px;}
.photo_ticket .inputBox span:first-child {float: left;}
.photo_ticket .inputBox span:last-child {float: right;}
.photo_ticket .inputBox span input[type='date'] {position: relative;display: block;width: 100%;font-size: 14px;text-indent: 10px;line-height: 36px; height: 36px; border:0; color:rgb(102,102,102); border-radius: 8px;background: rgba(242,242,242,.8);}
.photo_ticket .inputBox span input[type='date']:focus {outline: none}
.photo_ticket .inputBox span input[type='date']:disabled {width: 100%;height: 100%;line-height: 36px; border:0; color:rgb(203,203,203); border-radius: 8px; background: rgba(242,242,242,.8);}
.photo_ticket .inputBox span input[type='date']:disabled::after {width: 15px;height: 16px;background-position: -65px -152px; z-index: 1;}
.photo_ticket .inputBox span input[type='date']::after {content: '';position: absolute;right: 10px;top: 10px;width: 15px;height: 16px;background-position: -85px -152px; z-index: 1;}
/* [E] 기간검색 팝업 */

/* [S] 공유하기 팝업 */
.photo_ticket .popShare {position:fixed; left:0; bottom:-100%; width:100%; height: 135px; max-height:80vh; background-color:#fff; border-radius:20px 20px 0 0; z-index:9}
.photo_ticket .popShare .popLayerContainer{margin-bottom: 18px;}
.photo_ticket .popShare .popLayerContainer { padding-bottom: 0}
.photo_ticket .popShare .popLayerContainer .list  li {  position: relative; height: 80px; padding: 0 20px}
.photo_ticket .popShare .popLayerContainer .list  li a { display: block; line-height: 80px;}
.photo_ticket .popShare .popLayerContainer .list  li i { position: absolute; top: 26px; display: inline-block;}
.photo_ticket .popShare .popLayerContainer .list  li .sns { display: inline-block; padding-left: 32px;}
/* [E] 공유하기 팝업 */

/* [S] 포토티켓 제작 완료 팝업 */
.popCompleted {position:fixed; left:0; bottom:-100%; width:100%; height: 100%; background-color:#fff; z-index:9;overflow: auto;}
.popCompleted .popLayerContainer {margin-bottom: 0}
.popCompleted .popLayerHeader { height: 47px; padding-left: 0; border-bottom: 0}
.popCompleted .popLayerHeader .btn_close { top: 9px;}
.popCompleted .popLayerHeader .btn_share { position: absolute; left: 20px; top: 9px; }
.popCompleted .popLayerHeader .badge {width: 219px;height: 30px;line-height: 30px;border-radius: 15px; color: #ffffff; margin: 0 auto;}
.popCompleted .popLayerHeader > div { width: 100%; height: 47px; padding-top: 14px; }
.popCompleted .popLayerHeader .badge.badge_blue { background: #209eff}
.popCompleted .popLayerHeader .badge.badge_red { background: var(--watermelon)}
.popCompleted .popLayerHeader .badge .dday { position: relative; font-size: 15px; font-weight: bold; letter-spacing: -1.1px; padding-right: 17px;}
.popCompleted .popLayerHeader .badge .dday::after { content: ''; position: absolute; height:10px; border-right: 1px solid rgba(255,255,255,.5); right: 7px;top: 4px;}
.popCompleted .popLayerHeader .badge .text { font-size: 14px; font-weight: normal; letter-spacing: -1.1px;}
/* [E] 포토티켓 제작 완료 팝업 */

/* [S] 내가 자랑한 포토티켓 */
.popMyPhototicket {position:fixed; left:0; bottom:-100%; width:100%; height: 100%; background-color:#fff; z-index:9; overflow: auto;}
.popMyPhototicket .popLayerHeader { height: 47px; padding-left: 0; border-bottom: 0}
.popMyPhototicket .popLayerHeader h1 {line-height: 50px;}
.popMyPhototicket .popLayerHeader .btn_close { top: 11px; right: 7px;}
.popMyPhototicket .popLayerHeader .name { padding-left: 20px;letter-spacing: 0; }
.popMyPhototicket .popLayerContainer .btn_area { margin-top: 0 }
.popMyPhototicket .popLayerContainer .btn-red {padding-left: 22px;font-weight: 600;  box-shadow: 0 3px 8px 0 rgba(251, 67, 87, 0.5);}
/* [E] 내가 자랑한 포토티켓 */

/* [S] 다른 사람이 자랑한 포토티켓 */
.popOtherPhototicket {position:fixed; left:0; bottom:-100%; width:100%; height: 100%; background-color:#fff; z-index:9; overflow: auto;}
.popOtherPhototicket .popLayerHeader { height: 47px; padding-left: 0; border-bottom: 0}
.popOtherPhototicket .popLayerHeader .btn_close { top: 9px;}
.popOtherPhototicket .popLayerHeader .name { padding-left: 20px;letter-spacing: 0; }
.popOtherPhototicket .popLayerContainer .btn_area { margin-top: 0 }
.popOtherPhototicket .popLayerContainer .btn-red { padding-left: 22px;font-weight: 600;box-shadow: 0 3px 8px 0 rgba(251, 67, 87, 0.5) }
.popOtherPhototicket .popLayerContainer .myPhtoticketFlip.onlyPhoto .front { width: 287px; height: 440px; }
.popOtherPhototicket .popLayerContainer .myPhtoticketFlip .btn_area .inner > div { padding-top: 24px; }
/* [E] 다른 사람이 자랑한 포토티켓 */

@media only screen and (max-width: 350px){
	.photo_ticket .card_wrap .movie_info .info .title { font-size: 10px }
	.photo_ticket .card_wrap .movie_info .info .date { font-size: 10px }
	.photo_ticket .card_wrap .movie_info { padding: 25px 64px 0 100px; }
	.photo_ticket .card_wrap .movie_info > .tip { font-size: 11px }
	.photo_ticket .card_wrap .badge { width: 54px; height: 54px; }
	.photo_ticket .card_wrap .badge .dday { font-size: 16px; padding-top: 13px; margin-bottom: 3px; }
	.photo_ticket .card_wrap .card .img { left: 10px; }
	.photo_ticket .title_wrap .title .badge { width: 85px; font-size: 10px; line-height: 25px; }
	.photo_ticket .title_wrap .title {letter-spacing: -1.5px; }
	.photo_ticket .title_wrap .all .btn-all { padding: 15px 22px 15px 0;; }
	.photo_ticket .title_wrap .all .btn-all i {right: 13px;}
}
@media only screen and (min-height: 735px) {
	.myPhtoticketFlip .swiper-container {height: 470px;margin-bottom: 49px !important;}
	.myPhtoticketFlip .front {width: 262px;height: 398px;}
	.myPhtoticketFlip .back {width: 262px;height: 398px;}
	.myPhtoticketFlip .swiper-container-horizontal>.swiper-pagination-bullets {bottom: -2px;}
}
@media only screen and (min-width: 375px) {
	.cgvMovieChartWrap .btnFirstMove {top: 185px;}
}
@keyframes stroke{
	0%{
		transform: scale(1);
		opacity: 0;
	}
	33%{
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes fill{
	0%{
		transform: scale(1);
	}
	33%{
		transform: scale(1.3);
	}
	50%{
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
@keyframes shrink-bounce{
	0%{
		transform: scale(1);
	}
	33%{
		transform: scale(.85);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes expand-bounce{
	0%{
		transform: scale(1);
	}
	33%{
		transform: scale(.25);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes checkbox-check{
	0%{
		width: 0;
		height: 0;
		top: 12px;
		border-color: #ffffff;
		transform: translate3d(0,0,0) rotate(45deg);
	}
	33%{
		width: .2em;
		height: 0;
		transform: translate3d(0,0,0) rotate(45deg);
	}
	100%{
		width: 9px;
		height: 18px;
		top: 12px;
		border-color: #ffffff;
		transform: translate3d(0,-.8em,0) rotate(45deg);
	}
}
@keyframes checkbox-uncheck{
	0%{
		width: 0;
		height: 0;
		border-color: #c6c6c6;
		transform: translate3d(0,0,0) rotate(45deg);
	}
	33%{
		width: .2em;
		height: 0;
		transform: translate3d(0,0,0) rotate(45deg);
	}
	100%{
		width: 9px;
		height: 18px;
		border-color: #c6c6c6;
		transform: translate3d(0,-.8em,0) rotate(45deg);
	}
}
@keyframes circle {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
@keyframes check {
	from {
		stroke-dasharray: 0, 75px;
	}
	to {
		stroke-dasharray: 75px, 75px;
	}
}
@keyframes check-group {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	to {
		transform: scale(1);
	}
}


.btn-ani {
	width: 135px;
	height: 44px;
	line-height: 43px;
	display: inline-block;
	border: none;
	background: var(--watermelon);
	color: #ffffff;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	font-size: 16px;
	font-weight: 600;
	border-radius: 22px;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.btn-ani:hover {
	color:#ffffff;
}
.btn-ani:focus {
	outline: none;
}

/* Wapasha */
.btn-ani.button--wapasha {
	background: var(--watermelon);
	color: #fff;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--wapasha::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 135px;
	height: 42px;
	line-height: 42px;
	border: 1px solid var(--watermelon);
	z-index: -1;
	border-radius: 22px;
	opacity: 0;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha.active {
	background-color: #fff;
	color: var(--watermelon);
}
.button--wapasha.active::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
	border-radius: 30px;
}

/* Ujarak */
.button--ujarak {
	color: #ffffff;
	-webkit-transition: border-color .5s;
	transition: border-color .5s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 135px;
	height: 42px;
	color: #ffffff;
	line-height: 43px;
	background: #ffffff;
	border-radius: 22px;
	z-index: -1;
	opacity: 0;
	border: 1px solid var(--watermelon);
	box-sizing: content-box;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 10s, opacity 10s;
	transition: transform .5s, opacity .5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak.active {
	color: var(--watermelon);
	border-color: var(--watermelon);
}
.button--ujarak.active::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

/* Sacnite */
.button.button--sacnite {
	width: 70px;
	height: 70px;
	min-width: 0;
	padding: 0;
	color: #fff;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.button--scanite.button--round-l {
	border-radius: 50%;
}
.button--sacnite.button--inverted {
	color: #37474f;
}
.button--sacnite::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: -1;
	box-shadow: inset 0 0 0 35px #37474f;
	-webkit-transform: scale3d(0.9, 0.9, 1);
	transform: scale3d(0.9, 0.9, 1);
	-webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
	transition: box-shadow 0.3s, transform 0.3s;
}
.button--sacnite.button--inverted::before {
	box-shadow: inset 0 0 0 35px #fff;
}
.button--sacnite .button__icon {
	font-size: 22px;
	width: 22px;
}
.button--sacnite > span {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.button--sacnite:hover {
	color: #37474f;
}
.button--sacnite.button--inverted.active {
	color: #fff;
}
.button--sacnite.active::before {
	box-shadow: inset 0 0 0 2px #37474f;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button--sacnite.button--inverted.active::before {
	box-shadow: inset 0 0 0 2px #fff;
}

/* Button style */
.md-btn {
	font-size: 16px;
	display: inline-block;
	width: 135px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0;
	font-weight: 600;
	border-radius: 22px;
	background: var(--watermelon);
	color: #fff;
	outline: 0;
}
.md-btn:hover {
	color: #ffffff;
}
/*
 Ripple
*/
.md-btn-ripple.on {
	overflow: hidden;
	position: relative;
	background: #ffffff;
	color: var(--watermelon);
	border: 1px solid var(--watermelon);
	transition: background 10s;
}
.md-btn-ripple.on::after {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 7px;
	left: 50px;
	border-radius: 50%;
	background: rgb(255,255,255);
	animation: md-btn-ripple 10s;
	opacity: 0;
}
.md-btn-ripple.off {
	overflow: hidden;
	position: relative;
	background: var(--watermelon);
	transition: background 10s;
	border: 1px solid var(--watermelon);
	color: #ffffff;
	opacity: 1;
}
.md-btn-ripple.off::after {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 7px;
	left: 50px;
	border-radius: 50%;
	color: #ffffff;
	background: rgb(251,67,87);
	animation: md-btn-ripple2 10s;
	opacity: 0;
}
@keyframes md-btn-ripple {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	20% {
		transform: scale(2);
	}
	50% {
		transform: scale(3);
	}
	100% {
		transform: scale(4);
		opacity: 1;
	}
}
@keyframes md-btn-ripple2 {
	0% {
		transform: scale(0);
	}
	20% {
		transform: scale(2);
	}
	50% {
		transform: scale(3);
	}
	100% {
		transform: scale(4);
	}
}