:root {
    --text-01 : #303030;
    --text-02 : #737183;
    --text-03 : #9b9aa6;
    --text-04 : #afaeb8;
    --color-text-default: #303030;
    --color-text-light: #999999;
    --color-error: #ff2e60;
    --color-point: #0060B2;
    --color-point2: #118FE3;

    --font1: 'NanumGothic';
}
