// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus() {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $primary;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    min-width: 130px;
    display: block;
    padding: 0 7px;
    height: 36px;
    line-height: 35px;
    margin-right: 1px;
    border: 1px solid;
    background-color: $nav-tabs-link-active-bg;
    border-color: #bfbfbf #bfbfbf $primary;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -0.9px;
    color: $gray-600;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus() {
      border-bottom: 1px solid;
      background-color: $primary;
      border-color: $primary;
      color: $white;
      font-weight: bold;
    }

    &:active {
      background: darken($primary, 9%);
      border-color: darken($primary, 9%);
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-bottom: 1px solid;
    background-color: $primary;
    border-color: $primary;
    color: $white;
    font-weight: bold;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }

  &.nav-tabs-lg {
    border-bottom: 3px solid $primary;

    & .nav-item {
      & .nav-link {
        min-width: 320px;
        height: auto;
        padding: 4.5px 0;
        margin-right: 0;
        border: 1px solid;
        background-color: #f2f2f2;
        border-color: #bfbfbf #bfbfbf $primary;
        color: #999;
        text-align: center;

        &.disabled {
          color: $nav-link-disabled-color;
          background-color: transparent;
          border-color: transparent;
        }

        &.active, &:hover, &:focus {
          position: relative;
          border-bottom: 1px solid;
          background-color: $primary;
          border-color: $primary;
          color: $white;
          z-index: 3;
          padding: 0;
          font-size: 20px;

          &::before {
            content: '';
            padding: 9.5px 0;
            position: absolute;
            background: $primary;
            width: 320px;
            top: -11px;
            left: -1px;
            border-radius: 4px 4px 0 0;
            height: 50px;
            z-index: -1;
          }
        }
      }
    }
  }
}


//
// Pills
//

.nav-pills {
  .nav-item:nth-child(5) {
    .nav-link {
      border-right: 1px solid $gray-500;
    }
  }
  .nav-link {
    width: 238px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: $gray-600;
    padding: 0;
    letter-spacing: -1px;
    border: 1px solid $gray-500;
    border-right: 0;
    background: $white;
    //padding: 0 0.625rem;
    @include hover-focus() {
      font-weight: bold;
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
      border-color: $primary;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    font-weight: bold;
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
    border-color: $primary;
  }

  &.nav-pills-light {
    border-top: 3px solid $primary;
    border-bottom: 1px solid #999;

    & .nav-link {
      background-color: white;
      color: #999;

      @include hover-focus() {
        color: $body-color;
        background-color: $white;
      }
    }

    & .nav-link.active,
    & .show > .nav-link {
      color: #333;
      background-color: $white;
    }
  }
}


//
// Justified variants
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}
