//pager

.pager {
  position: relative;
  padding-left: 21px;
  list-style: none;

  li {
    position: relative;

    &:not(:last-child) {
      padding-bottom: 38px;
    }
    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -14px;
      top: 12px;
      height: 100%;
      width: 10px;
      border-left: 2px dotted $pager-line-border-color;
      z-index: -1;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 7px;
      left: -16px;
      width: 6px;
      height: 6px;
      border-radius: 8px;
      background-color: $pager-bg-color;
    }

    &.active {
      padding-bottom: 20px;

      &::after {
        padding-top: 1px;
        width: 14px;
        height: 14px;
        top: 3px;
        left: -20px;
        font-size: 14px;
        text-align: center;
        background-color: $pager-bg-color;
      }
    }

    &:last-child {
      &::before {
        content: none;
      }
    }
  }
}
