@charset "UTF-8";
html { min-height: 100%; }

body.white-bg { background-color: white; }

.footerLink { position: relative; background-color: #f2f2f2; }

.smart-receipt-area { position: relative; background: #f2f2f2; padding: 10px 12px 0; }

.smart-receipt-area .button-box { position: relative; background-color: #f2f2f2; padding: 21px 0 22px; }

.smart-receipt-area .button-box:after { display: table; clear: both; content: ''; }

.smart-receipt-area .button-box button { float: left; border: none; background: none; font-size: 13px; font-weight: 600; cursor: pointer; color: #373e46; padding: 4px 4px 4px 24px; background: url(../../images/sreceipt/ico-trash.png) left 6px center no-repeat; background-size: 14px; }

.smart-receipt-area .layer_pop_re .inner { border-radius: 2px; }

.smart-receipt-area .layer_pop_re .inner .guide_info { padding: 25px 0; font-size: 13px; color: #373e46; text-align: center; }

.smart-receipt-area .layer_pop_re .inner .guide_info p { line-height: 1.5; }

.smart-receipt-area .layer_pop_re .inner .btnbox.for-select button { width: 50%; }

.smart-receipt-area .layer_pop_re .inner .btnbox.for-select button + button { position: relative; }

.smart-receipt-area .layer_pop_re .inner .btnbox.for-select button + button:before { position: absolute; left: 0; top: 14px; content: ''; background-color: rgba(189, 193, 200, 0.6); width: 1px; height: 18px; }

.smart-receipt-area .receipt-wrap { background-color: white; }

.smart-receipt-area .receipt-wrap + .dummy-space { position: relative; width: 100%; height: 10px; background-color: #f2f2f2; }

.smart-receipt-area .dummy-space + .button-box { margin-top: -10px; }

.smart-receipt-area .smart-receipt-bg { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; z-index: 0; background: url(../../images/sreceipt/bg_cgv_logo.png) center center no-repeat; }

.receipt-deleted { padding-top: 100px; }

.receipt-deleted .msg-area { text-align: center; background: url(../../images/sreceipt/bg-noreceipt.png) top center no-repeat; font-size: 18px; color: #000; word-break: keep-all; line-height: 1.3; padding: 150px 20px 0; }

.receipt-deleted .msg-btn { text-align: center; width: 195px; font-size: 13px; font-weight: bold; border-radius: 5px; text-decoration: none; display: block; margin: 10px auto 100px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 12px 0; background: transparent; border: 2px solid #be2424; color: #be2424; }

.smart-receipt { margin: 0; position: relative; -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1); padding: 21px 15px; background-attachment: fixed; line-height: 1; }

.smart-receipt:before, .smart-receipt:after { content: ''; display: inline-block; width: calc(100% - 40px); height: 10px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.smart-receipt:before { top: -6px; background: #f2f2f2 url(../../images/sreceipt/bg_receipt_top.png) left bottom repeat-x; }

.smart-receipt:after { bottom: -6px; background: #f2f2f2 url(../../images/sreceipt/bg_receipt_bottom.png) left top repeat-x; }

.smart-receipt.coupon:before { display: none; }

.smart-receipt .store-title { margin: 10px 0 22px; line-height: 16px; text-align: center; font-size: 24px; font-weight: 600; line-height: 31px; }

.smart-receipt .store-info { font-size: 12px; line-height: 1.42; position: relative; padding: 16px 15px; margin: 0 -15px; border-top: 1px solid #e3e3e3; }

.smart-receipt .store-info .title { display: inline-block; width: 100%; padding-right: 130px; margin: 0; font-size: 12px; font-weight: 600; line-height: 17px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }

.smart-receipt .store-info .title .tell { position: absolute; right: 0; }

.smart-receipt .store-info .info { position: absolute; right: 0; bottom: 16px; text-align: right; line-height: inherit; padding-right: 15px; }

.smart-receipt .store-info:first-child { padding: 0 0 16px; margin: 0; border-top: none; }

.smart-receipt .store-info:first-child .info { padding-right: 0; }

.smart-receipt .order .title.order { margin: 30px 0 20px; font-size: 13px; line-height: 16px; text-align: center; }

.smart-receipt .order .title.order i { font-style: normal; font-weight: 500; float: left; margin-top: 4px; padding-right: 10px; }

.smart-receipt .order .title.order strong { float: none; display: inline-block; width: 100%; font-size: 26px; font-weight: 600; line-height: 31px; margin-top: 6px; }

.smart-receipt .order .title.order em { font-weight: normal; }

.smart-receipt .order .title.order .app-mobticket { margin-top: 2px; cursor: pointer; border-radius: 50px; background: none; border: 1px solid #9197a3; padding: 2px 6px; font-size: 11px; float: right; }

.smart-receipt .order table, .smart-receipt .order th, .smart-receipt .order td { border-spacing: 0; padding: 0; }

.smart-receipt .order .bd_txt { font-weight: 600; padding-right: 2px !important; }

.smart-receipt .order .normal_txt { padding-right: 2px !important; }

.smart-receipt .order .order-table { font-size: 13px; }

.smart-receipt .order .order-table table { width: 100%; table-layout: fixed; border-collapse: collapse; border-top: 1px solid #000; }

.smart-receipt .order .order-table th.right-data { text-align: right; padding-right: 5%; }

.smart-receipt .order .order-table th.left-data { text-align: left; padding-left: 5%; }

.smart-receipt .order .order-table th { height: 30px; color: rgba(55, 62, 70, 0.6); font-weight: normal; background: rgba(178, 182, 191, 0.1); }

.smart-receipt .order .order-table td { text-align: right; vertical-align: top; line-height: 16px; padding: 17px 0; border-top: 1px solid #e3e3e3; }

.smart-receipt .order .order-table td.item { text-align: left; }

.smart-receipt .order .order-table td.number, .smart-receipt .order .order-table td.count { text-align: center; }

.smart-receipt .order .order-table td.u-price { padding-right: 4%; }

.smart-receipt .order .order-table td.price { padding-right: 2px; }

.smart-receipt .order .order-table .summary td { border-top: 0; padding: 0; }

.smart-receipt .order .order-table .summary-group { display: table; width: 100%; margin: -12px 0 14px; }

.smart-receipt .order .order-table .summary-group dl { display: table-row; }

.smart-receipt .order .order-table .summary-group dl.title.card dt { font-size: 14px; font-weight: 600; color: #000; }

.smart-receipt .order .order-table .summary-group dl.title.card dd { font-size: 16px; font-weight: bold; }

.smart-receipt .order .order-table .summary-group dl dt, .smart-receipt .order .order-table .summary-group dl dd { display: table-cell; color: #9197a3; padding: 3px 0; }

.smart-receipt .order .order-table .summary-group dl .number { text-align: center; width: 25px; }

.smart-receipt .order .order-table .summary-group dl .item { text-align: left; padding-left: 12px; position: relative; }

.smart-receipt .order .order-table .summary-group dl .item:before { content: ''; display: inline-block; width: 5px; height: 5px; border-left: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; position: absolute; top: 7px; left: 3px; }

.smart-receipt .order .order-table .summary-group dl .u-price { text-align: right; width: 20%; padding-right: 4%; }

.smart-receipt .order .order-table .summary-group dl .count { text-align: center; width: 28px; }

.smart-receipt .order .order-table .summary-group dl .price { text-align: right; width: 20%; padding-right: 2px; }

.smart-receipt .order .order-table .summary-group dl:not([class]) + dl.title.card dt, .smart-receipt .order .order-table .summary-group dl:not([class]) + dl.title.card dd { padding-top: 22px; }

.smart-receipt .order .order-table .summary-group dl.title.card + dl:not([class]) dt, .smart-receipt .order .order-table .summary-group dl.title.card + dl:not([class]) dd { padding-top: 14px; }

.smart-receipt .order .order-table .summary-group dl.dev-fund dd { padding-top: 0; }

.smart-receipt .order .order-table .sub-total td { padding: 15px 0; }

.smart-receipt .order .order-table .sub-total-group { display: table; width: 100%; table-layout: fixed; }

.smart-receipt .order .order-table .sub-total-group dl { display: table-row; }

.smart-receipt .order .order-table .sub-total-group dl dt, .smart-receipt .order .order-table .sub-total-group dl dd { display: table-cell; width: 50%; line-height: 16px; padding: 5px 0; }

.smart-receipt .order .order-table .sub-total-group dl dt { text-align: left; color: #9197a3; }

.smart-receipt .order .order-table .sub-total-group dl dd { color: #373e46; }

.smart-receipt .order .order-table .total td { padding: 0; border-top: 0; }

.smart-receipt .order .order-table .total dl { display: table; table-layout: fixed; width: 100%; }

.smart-receipt .order .order-table .total dl dt, .smart-receipt .order .order-table .total dl dd { display: table-cell; border-top: 1px solid #000; border-bottom: 0; height: 66px; vertical-align: middle; }

.smart-receipt .order .order-table .total dl dt { font-size: 14px; font-weight: 600; text-align: left; width: 50px; }

.smart-receipt .order .order-table .total dl dd { font-size: 16px; font-weight: bold; text-align: right; padding-right: 2px; }

.smart-receipt .order .order-table .detail-payment-history { position: relative; padding-top: 17px !important; margin-top: 8px !important; }

.smart-receipt .order .order-table .detail-payment-history:before { position: absolute; display: inline-block; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: -7px; content: '상세결제내역'; color: #93969b; font-size: 13px; background-color: white; z-index: 5; padding: 0 2px; }

.smart-receipt .order .table-summary .summary-group { border-top: 1px dashed #dfe1e4; padding: 13px 0; margin: 0; }

.smart-receipt .order .table-summary .summary-group dl dt, .smart-receipt .order .table-summary .summary-group dl dd { line-height: 16px; padding: 5px 0; }

.smart-receipt .order .table-summary .summary-group dl dd { text-align: right; color: #373e46; padding-right: 2px; }

.smart-receipt .order .caution { border-top: 1px solid #f2f2f2; padding: 14px 0 14px; }

.smart-receipt .order .caution ul { margin: 0; padding: 0; list-style: none; }

.smart-receipt .order .caution ul li { line-height: 16px; padding: 1px; color: #9197a3; padding-left: 9px; position: relative; }

.smart-receipt .order .caution ul li:before { content: '*'; position: absolute; top: 1px; left: 1px; }

.smart-receipt .order.movie .order-table td.item { padding: 17px 0; }

.smart-receipt .order.movie .order-table td .details { display: table; table-layout: fixed; width: 100%; }

.smart-receipt .order.movie .order-table td .details > ul { display: table-row; }

.smart-receipt .order.movie .order-table td .details > ul > li { display: table-cell; line-height: 16px; padding: 5px 0; }

.smart-receipt .order.movie .order-table td .details .u-price, .smart-receipt .order.movie .order-table td .details .price { width: calc(50% - 14px); text-align: right; }

.smart-receipt .order.movie .order-table td .details .count { width: 28px; text-align: center; }

.smart-receipt .order.movie .order-table .total > td { padding: 0; }

.smart-receipt .order.movie .movie-info { font-size: 14px; padding: 30px 0 24px; }

.smart-receipt .order.movie .movie-info .title { margin: 0px 0 10px; text-align: left; }

.smart-receipt .order.movie .movie-info .title strong { line-height: 27px; font-size: 22px; }

.smart-receipt .order.movie .movie-info .title em { font-style: normal; line-height: 17px; padding: 2px 0; }

.smart-receipt .order.movie .movie-info > span { display: inline-block; width: 100%; line-height: 16px; padding: 3px 0; }

.smart-receipt .order.movie .movie-info .date { font-size: 14px; font-weight: 600; }

.smart-receipt .order.movie .movie-info .same-time { font-size: 13px; margin-bottom: 10px; }

.smart-receipt .order.movie .movie-info .same-time > span { display: inline-block; width: 100%; line-height: 1.4; }

.smart-receipt .order.movie .movie-info .same-time > span:before { content: '-'; margin-right: 2px; vertical-align: middle; }

.smart-receipt .order.movie .movie-info .same-time .start-time { color: #6a6f77; padding-left: 8px; }

.smart-receipt .order.movie .movie-info .same-time .start-time:before { content: '>'; }

.smart-receipt .order.movie .movie-info .same-time .start-time + span:not([class]) { margin-top: 4px; }

.smart-receipt .order.movie .movie-info.order-info .title { text-align: center; color: #373e46; }

.smart-receipt .order.movie .movie-info.order-info .title strong { font-size: 26px; color: #000; }

.smart-receipt .order.movie .movie-info + .movie-info { border-top: 1px dashed #f2f2f2; }

.smart-receipt .order.movie .movie-info.order-info + .movie-info { border-top: 1px solid black; }

.smart-receipt .order.movie .movie-price { border-top: 1px solid #f2f2f2; display: table; table-layout: fixed; width: 100%; padding: 13px 0; }

.smart-receipt .order.movie .movie-price dl { display: table-row; }

.smart-receipt .order.movie .movie-price dl dt, .smart-receipt .order.movie .movie-price dl dd { display: table-cell; line-break: 16px; padding: 5px 0; }

.smart-receipt .order.movie .movie-price dl dt { width: 50px; color: #9197a3; }

.smart-receipt .order.movie .movie-price dl dd { text-align: right; color: #373e46; }

.smart-receipt .order.movie .total dd strong { display: block; font-size: 16px; }

.smart-receipt .order.movie .total dd span { font-size: 13px; font-weight: normal; }

.smart-receipt .order.movie.up_bill .store-title { font-weight: normal; }

.smart-receipt .order.movie.up_bill .movie-info { padding: 0; }

.smart-receipt .theater-msg { padding: 26px 15px; margin: 0px -15px; border-top: 1px solid #e3e3e3; text-align: center; }

.smart-receipt .theater-msg p { line-height: 1.4; font-size: 13px; color: #373e46; }

.smart-receipt .theater-msg p + p { margin-top: 12px; }

.smart-receipt .info.notice { margin: 0px -15px; padding: 20px 15px; border-top: 1px solid #e3e3e3; }

.smart-receipt .info.notice .title { font-size: 14px; font-weight: 600; line-height: 16px; padding: 10px 0 8px; margin: 0; }

.smart-receipt .info.notice > ul { margin: 0; padding: 0; list-style: none; }

.smart-receipt .info.notice > ul > li { font-size: 13px; color: #9197a3; line-height: 16px; padding: 1px 0; padding-left: 10px; position: relative; }

.smart-receipt .info.notice > ul > li:before { content: ''; width: 4px; height: 4px; border-radius: 100%; background: #9197a3; position: absolute; left: 1px; top: 8px; }

.smart-receipt .info.notice .inner-bullet { margin-top: 10px; }

.smart-receipt .info.notice .inner-bullet ul { margin: 0; padding: 0; list-style: none; }

.smart-receipt .info.notice .inner-bullet ul li { line-height: 16px; padding: 1px; color: #9197a3; padding-left: 9px; position: relative; }

.smart-receipt .info.notice .inner-bullet ul li:before { content: '*'; position: absolute; top: 1px; left: 1px; }

.smart-receipt.coupon { text-align: center; }

.smart-receipt.coupon .title.ticket { font-size: 14px; font-weight: 600; line-height: 16px; padding: 9px 0 11px; position: relative; }

.smart-receipt.coupon .title.ticket:after { content: ''; width: 30px; height: 1px; background: #4b4f56; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.smart-receipt.coupon .coupon-txt { padding-top: 14px; font-size: 14px; line-height: 1.43; word-break: keep-all; }

.smart-receipt.coupon .coupon-txt strong { display: inline-block; font-size: 20px; font-weight: 600; line-height: 21px; padding: 11px 0; }

.smart-receipt.coupon .coupon-txt .validity { display: inline-block; width: 100%; font-size: 14px; font-weight: 500; color: #4e88cf; line-height: 18px; padding: 6px 0; }

.smart-receipt.coupon .coupon-txt .validity strong { font-size: 14px; font-weight: 500; color: #9197a3; padding: 0; }

.smart-receipt.coupon .coupon-txt .mid-txt { font-size: 16px; padding: 10px 0; }

.smart-receipt.coupon .coupon-txt .coupon-num { padding-top: 20px; }

.smart-receipt.coupon .coupon-txt .coupon-num + .barcode-area { padding-top: 10px; }

.smart-receipt.coupon .info.notice { text-align: left; }

.smart-receipt .barcode-area { text-align: center; padding: 20px 20px; margin: 0 -15px; }

.smart-receipt .barcode-area svg { width: 100%; max-width: 360px; max-height: 100%; }

.smart-receipt .barcode-area svg > g > text { letter-spacing: 3.73px; }

.smart-receipt .caution + .barcode-area { padding-top: 6px; }

.smart-receipt .point-acc .info.notice { margin: 0 0 14px 0; padding: 10px 0 22px; border-top: none; border-bottom: 1px solid #e3e3e3; }

.smart-receipt .course-txt { display: block; padding-left: 6px; position: relative; line-height: 1.3; margin-top: 2px; }

.smart-receipt .course-txt:after { position: absolute; left: 0; top: 0; content: ':'; }

.smart-receipt .caution.point-acc { padding: 22px 0 14px; }

.smart-receipt .caution.point-acc .acc-tit { font-size: 14px; color: #000; font-weight: 600; text-align: center; margin-bottom: 12px; }

.smart-receipt .caution.point-acc dl { display: table; width: 100%; }

.smart-receipt .caution.point-acc dl dt { display: table-cell; color: #9197a3; line-height: 16px; padding: 5px 0; }

.smart-receipt .caution.point-acc dl dd { display: table-cell; text-align: right; color: #373e46; line-height: 16px; padding: 5px 2px 0 0; }

.smart-receipt .store-info + .order > .order-table > .movie-info:first-child { border-top: 1px dashed #dfe1e4; }

.smart-receipt .order.movie .qr-header { position: relative; min-height: 62px; margin: 10px 0 20px; padding: 0 6px; }

.smart-receipt .order.movie .qr-header .qr-area { position: absolute; right: 6px; top: 0; }

.smart-receipt .order.movie .qr-header .qr-area img { width: 62px; }

.smart-receipt .order.movie .qr-header .movie-info.order-info { min-height: 62px; padding: 0; }

.smart-receipt .order.movie .qr-header .movie-info.order-info .title { text-align: left; color: #878b90; padding-right: 72px; }

/** 특별 Class. 이 클래스를 element에 넣으면 모든 테두리를 제거한다 */
.smart-receipt ._nonebd { border: none !important; }

/** 특별 Class. div element에 이 클래스를 넣으면 구분선을 표시해준다 */
.smart-receipt ._topbd { border-top: 1px solid #e3e3e3 !important; }

/** 특별 Class. div element에 이 클래스를 넣으면 영수증 영역 폭으로 꽉찬 구분선을 표시해준다 */
.smart-receipt ._topbd_wide { border-top: 1px solid #e3e3e3 !important; margin-left: -15px !important; margin-right: -15px !important; padding-left: 15px !important; padding-right: 15px !important; }

.smart-receipt-list { background: #f2f2f2; }

.smart-receipt-list .lists .lists-nav { overflow: hidden; padding: 16px 12px 16px 11px; font-size: 13px; color: #222; background-color: white; line-height: 16px; }

.smart-receipt-list .lists .listline { padding-left: 20px; background-color: white; }

.smart-receipt-list .lists .listline > li { background-color: white; border-top: 1px solid #dad9da; }

.smart-receipt-list .lists .listline .list-head { margin-left: -20px; background-color: #f2f2f2; padding: 21px 12px 8px; }

.smart-receipt-list .lists .listline .list-head .receipt-date { font-size: 16px; font-weight: 600; }

.smart-receipt-list .lists .listline .list-head .receipt-place { margin-left: 4px; font-size: 13px; color: #606672; }

.smart-receipt-list .lists .listline .list-head + li { border-top: none; }

.smart-receipt-list .lists .listline .list-detail { display: block; padding: 23px 20px 20px 0; overflow: hidden; position: relative; }

.smart-receipt-list .lists .listline .list-detail .list-category { margin-top: -3px; float: left; font-size: 12px; border: 1px solid #ce5c78; border-radius: 14px; height: 19px; line-height: 17px; padding: 0 7px; }

.smart-receipt-list .lists .listline .list-detail .list-category + .list-category { margin-left: 4px; }

.smart-receipt-list .lists .listline .list-detail .cat-movie { color: #ce5c78; border-color: #ce5c78; }

.smart-receipt-list .lists .listline .list-detail .cat-store { color: #525a88; border-color: #525a88; }

.smart-receipt-list .lists .listline .list-detail .cat-shop { color: #ef8200; border-color: #ef8200; }

.smart-receipt-list .lists .listline .list-detail .cat-rol { color: #83b4ca; border-color: #83b4ca; }

.smart-receipt-list .lists .listline .list-detail .cat-vr { color: #943393; border-color: #943393; }

.smart-receipt-list .lists .listline .list-detail .cat-phototicket { color: #83b4ca; border-color: #83b4ca; }

.smart-receipt-list .lists .listline .list-detail .cat-cdc { color: #864d24; border-color: #864d24; }

.smart-receipt-list .lists .listline .list-detail .cat-playzone { color: #943393; border-color: #943393; }

.smart-receipt-list .lists .listline .list-detail .cat-cineshop { color: #ef8200; border-color: #ef8200; }

.smart-receipt-list .lists .listline .list-detail .cat-giftcard { color: #a8af13; border-color: #a8af13; }

.smart-receipt-list .lists .listline .list-detail .list-price { float: right; font-size: 16px; color: #000; }

.smart-receipt-list .lists .listline .list-detail .list-title { clear: both; padding-top: 7px; padding-left: 2px; font-size: 16px; float: left; width: calc(100% - 74px); text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.smart-receipt-list .lists .listline .list-detail .list-title.partpay { width: calc(100% - 112px); }

.smart-receipt-list .lists .listline .list-detail .list-state { margin-top: 7px; font-size: 12px; padding: 2px 0; float: right; }

.smart-receipt-list .lists .listline .list-detail .state-comp { color: #4a90e2; }

.smart-receipt-list .lists .listline .list-detail .state-canc { color: #4b4f56; }

.smart-receipt-list .lists .listline .list-detail:after { display: table; content: ''; clear: both; }

.smart-receipt-list .lists .list-empty { text-align: center; font-size: 13px; margin-top: 60px; padding: 0 10px; line-height: 1.4; }

.smart-receipt-list .layer_pop_re .inner { border-radius: 2px; }

.smart-receipt-list .layer_pop_re .inner .guide_info { padding: 25px 0; font-size: 13px; color: #373e46; text-align: center; }

.smart-receipt-list .layer_pop_re .inner .guide_info p { line-height: 1.5; }

.smart-receipt-list .layer_pop_re .inner .btnbox.for-select button { width: 50%; }

.smart-receipt-list .layer_pop_re .inner .btnbox.for-select button + button { position: relative; }

.smart-receipt-list .layer_pop_re .inner .btnbox.for-select button + button:before { position: absolute; left: 0; top: 14px; content: ''; background-color: rgba(189, 193, 200, 0.6); width: 1px; height: 18px; }

.error_wrap { background-color: white; }

.error_wrap .error_screen { display: table; height: 100vh; min-height: 100vh; width: 100%; }

.error_wrap .wrap_outer { display: table-cell; vertical-align: middle; padding: 20px 0; }

.error_wrap .error_cont { padding: 0 24px; text-align: center; padding-top: 87px; background: url(../../images/common/bg_pacon.png) top center no-repeat; }

.error_wrap .error_cont h1 { font-size: 16px; font-weight: 500; color: #4b4f56; letter-spacing: -0.5px; line-height: 1.4; word-break: keep-all; }

.error_wrap .error_cont .error_txt { margin-top: 8px; font-size: 13px; color: #9197a3; letter-spacing: -0.5px; line-height: 1.4; word-break: keep-all; }
/*# sourceMappingURL=smart-receipt.css.map */